

.navbar{
    
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    background-color: #ffffff; 
  
  }
  
  .logo-img{
      margin-left: 10px;
      width: 35px;
      height: 30px;
  }

  .columna-anuncio{
    margin-top: 50px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.columna-anuncio .anuncio{

    background: linear-gradient(90deg, rgba(31, 17, 206, 0.62) 0%, rgba(229, 43, 43, 0.61) 100%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}

.process-step {
    text-align: center;
    padding: 30px;
    border: 1px solid #dee2e6 ;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .process-step:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }