
/* Estilos para el modo claro */
body {
  background-color: #ffffff; /* Color de fondo en modo claro */
  color: #000000; /* Color del texto en modo claro */
}

/* Estilos para el modo oscuro */
body.dark-mode  {
  background-color: #1e1e1e; /* Color de fondo en modo oscuro */
  color: #ffffff; /* Color del texto en modo oscuro */
  .nav-link{
    color: white;
  }

  .navbar-collapse{
    background-color: #212529;
  }

  .purchase-process{
    background-color: #1e1e1e;
  }

  .process-step{
    background-color: #1e1e1e;
  }

  .process-step h3{
    color: white;
  }

  .process-step p{
    color: rgba(255, 255, 255, 0.692);
  }

}

.navbar{
    
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  
  }

  .navbar-nav {
    width: 90%;
  }
  
  .nav-link {
    text-align: right; /* Centra el texto dentro de cada enlace */
    font-size: 18px;
    font-weight: 500;
  }
  
  
  .nav-link i{
    margin-right:5px;
  }


  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #333;
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #46B5FE;
  }
  
  .logo-img {
    margin-left: 0px;
    width: 35px;
    height: 30px;
  }

  .columna-anuncio{
    margin-top: 50px;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.columna-anuncio .anuncio{

    background: linear-gradient(90deg, rgba(31, 17, 206, 0.62) 0%, rgba(229, 43, 43, 0.61) 100%);
    height: 100%;
    width: 100%;
    border-radius: 11px;
    
}

.process-step {
    text-align: center;
    padding: 30px;

    border: 1px solid #dee2e6 ;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .process-step:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .purchase-process {
    background-color: rgb(255, 255, 255);
    padding: 40px 0;
    border-radius: 10px;
  }
  
  .process-step {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .process-step:hover {
    transform: translateY(-5px);
  }
  
  .process-step h3 {
    font-size: 30px;
    margin-bottom: 15px;
    color: black;
  }
  
  .process-step p {
    color: rgba(0, 0, 0, 0.767);
    font-size: 1em;
  }
  
  .process-step p:last-child {
    margin-bottom: 0;
  }

  .form-check{
    margin-top: 10px;
  }
  

  /* Añade estilos personalizados para la posición del menú desplegable */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 73px; /* Ajusta la posición vertical según tu necesidad */
    right: -100%; /* Para ocultar inicialmente el menú */
    width: 240px; /* Ancho del menú desplegable */
    height: 60vh; /* Altura del menú para ocupar toda la altura de la ventana */
    background-color: rgb(241, 238, 238); /* Color de fondo del menú */
    z-index: 1000; /* Asegura que esté por encima del resto de elementos */
    padding-top: 10px; /* Espacio superior para evitar la superposición con la barra de navegación */
    transition: right 0.3s ease-in-out; /* Agrega una transición suave */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto flotante */
    border-radius: 20px 0 0 20px;
    border: 3px solid #929191;
  }
  .navbar-collapse.show {
    right: 0; /* Muestra el menú cuando está abierto */
  }
  .navbar-nav {
    width: 100%;
  }

 
  .nav-link{
    text-align: left;
    margin-top: 10px;
  }

  .form-check{
    margin-top: 20px;
    margin-left: 15px;
  }

  .nav-link i{
    margin-right:20px;
    margin-left: 15px;
  }

  body.dark-mode{

    .navbar-collapse {
      border: 3px solid #eaeaebc7;
    }

  }

}