* Estilos para el modo claro */ body {
  background-color: #ffffff; /* Color de fondo en modo claro */
  color: #000000; /* Color del texto en modo claro */
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #1e1e1e; /* Color de fondo en modo oscuro */
  color: #ffffff; /* Color del texto en modo oscuro */
  .nav-link {
    color: white;
  }

  .navbar-collapse {
    background-color: #212529;

  }

  .about-us-section h2 {
    color: white;
  }

  .about-section h4 {
    color: white;
  }

  .about-us-section {
    background-color: #1e1e1e;
  }

  .about-content {
    color: rgba(255, 255, 255, 0.692);
  }
  .about-section p {
    color: rgba(255, 255, 255, 0.692);
  }
}

.navbar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.btnInicio {
  background-color: #46b5fe;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #46b5fe;
}

.logo-img {
  margin-left: 10px;
  width: 35px;
  height: 30px;
}

.columna-anuncio {
  margin-top: 50px;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.columna-anuncio .anuncio {
  background: linear-gradient(
    90deg,
    rgba(31, 17, 206, 0.62) 0%,
    rgba(229, 43, 43, 0.61) 100%
  );
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.about-us-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.4);
}

.about-us-section h2 {
  color: #333;
}

.about-content {
  text-align: justify;
}

.about-section {
  margin-bottom: 30px;
}

.about-section h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
}

.about-section p {
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}

.about-section p:last-child {
  margin-bottom: 0;
}

/* Añade estilos personalizados para la posición del menú desplegable */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 73px; /* Ajusta la posición vertical según tu necesidad */
    right: -100%; /* Para ocultar inicialmente el menú */
    width: 230px; /* Ancho del menú desplegable */
    height: 35vh; /* Altura del menú para ocupar toda la altura de la ventana */
    background-color: rgb(241, 238, 238); /* Color de fondo del menú */
    z-index: 1000; /* Asegura que esté por encima del resto de elementos */
    padding-top: 20px; /* Espacio superior para evitar la superposición con la barra de navegación */
    transition: right 0.3s ease-in-out; /* Agrega una transición suave */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto flotante */
    border-radius: 20px 0 0 20px;
    border: 3px solid #eaeaebc7;
  }
  .navbar-collapse.show {
    right: 0; /* Muestra el menú cuando está abierto */
  }
}
