

.navbar{
    
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
  background-color: #ffffff; 

}

.btnInicio{
  background-color: #46B5FE;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #46B5FE;
}
  
  .logo-img{
      margin-left: 10px;
      width: 35px;
      height: 30px;
  }

  .columna-anuncio{
    margin-top: 50px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.columna-anuncio .anuncio{

    background: linear-gradient(90deg, rgba(31, 17, 206, 0.62) 0%, rgba(229, 43, 43, 0.61) 100%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}

.about-us-section {
    background-color: #f9f9f9;
    padding: 50px 0;
    border-radius: 10px;
  }
  
  .about-us-section h2 {
    color: #333;
  }
  
  .about-content {
    text-align: justify;
  }
  
  .about-section {
    margin-bottom: 30px;
  }
  
  .about-section h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .about-section p {
    color: #777;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .about-section p:last-child {
    margin-bottom: 0;
  }
  