

.navbar{
    
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
  background-color: #ffffff; 

}

.btnInicio{
  background-color: #E47C86;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #E47C86;
}

.logo-img {
  width: 30px;
  margin-right: 10px;
}

.logo-img{
    margin-left: 10px;
    width: 35px;
    height: 30px;
}

.columna-anuncio{
    margin-top: 50px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.columna-anuncio .anuncio{

    background: linear-gradient(90deg, rgba(31, 17, 206, 0.62) 0%, rgba(229, 43, 43, 0.61) 100%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
}


.gallery{

width: 120px;
margin: 20px auto;
columns: 4;
column-gap: 20px;
}

.gallery .box{


    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.gallery .box img{
max-width: 100%;
border-radius: 20px;
}






/* Estilos adicionales para el modal y el botón de cierre */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #downloadLink {
    
    display: block;
    position: absolute;
    top: 80px;
    right: 200px; /* Ajusta el margen superior para mover el enlace hacia abajo */
  }

  #downloadLink button{
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 150px ;
    font-size: 13px;
    /* global 94%+ browsers support */
   background-color: white;
    color: rgb(90, 90, 90);
    font-weight: bold;

  }
  
  .modal-content {
    margin: 120px auto 0;
    display: block;
    max-width: 70vw; /* Ajusta el tamaño máximo de la imagen al 80% del ancho de la pantalla */
    max-height: 70vh; /* Ajusta el tamaño máximo de la imagen al 80% de la altura de la pantalla */
  }
  
  .close {
    color: white;
    position: absolute;
    top: 73px;
    right: 62px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
  }

 



















@media(max-width: 1600px){

    .gallery{

        width: calc(100% - 40px);
        columns: 5;
    }

}

@media(max-width: 1200px){

    .gallery{

    
        columns: 3;
    }

}


@media(max-width: 768px){

    .gallery{

    
        columns: 2;
    }

}

@media(max-width: 480px){

    .containerPrincipal{

    
        columns: 1;
    }

}